<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<context:component-scan base-package="com.controllers" />
	
	<mvc:annotation-driven />
	
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/pages/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>

	<!-- manage the controller so we can inject dependencies on it -->
	<bean id="welcomeController" class="com.controllers.WelcomeController">
		<property name="welcomeModel" ref="welcomeModel" />
	</bean>

	<!-- this fake model will be injected to welcomeController later -->
	<bean id="welcomeModel" class="com.models.WelcomeModel">
		<property name="welcomeVariable1" value="Welcome" />
		<property name="welcomeVariable2" value="to the Application" />
	</bean>

</beans>